In [6]:
type([])

list

In [8]:
#创建， 增加
my_list = [2, 3, 4, 5, 6]

In [9]:
my_list

[2, 3, 4, 5, 6]

In [10]:
my_list = list([2, 3, 4, 8, 9])

In [11]:
my_list

[2, 3, 4, 8, 9]

In [12]:
my_list2 = list((2,4,5))

In [13]:
my_list2

[2, 4, 5]

In [14]:
#嵌套
more_list = [1, 2, 4, [3, 8, 2], 5, 9, 6]

In [15]:
more_list

[1, 2, 4, [3, 8, 2], 5, 9, 6]

In [16]:
str_list = []

In [17]:
str_list

[]

In [19]:
str_list.append('a')

In [20]:
str_list.append('b')

In [21]:
str_list

['a', 'b']

In [22]:
str_list = ['c' * 3]

In [23]:
str_list

['ccc']

In [24]:
str_list = [['c'] * 3]

In [25]:
str_list

[['c', 'c', 'c']]

In [26]:
my_list.insert(1,11)

In [27]:
my_list

[2, 11, 3, 4, 8, 9]

In [29]:
#切片[开始: 结束: 步长]
my_list[0]

2

In [30]:
my_list[-1]

9

In [31]:
len(my_list)

6

In [32]:
my_list

[2, 11, 3, 4, 8, 9]

In [34]:
my_list.count(11)

1

In [35]:
my_list[:3]

[2, 11, 3]

In [36]:
my_list[3:]

[4, 8, 9]

In [39]:
my_list[1:3]

[11, 3]

In [40]:
my_list[1::2]

[11, 4, 9]

In [56]:
#改

In [42]:
names = ['ys', 'xx', 'dd', 'list', 'html']

In [43]:
names[3]

'list'

In [44]:
names.index('html')

4

In [45]:
names[3] = 'zhangsan'

In [46]:
names

['ys', 'xx', 'dd', 'zhangsan', 'html']

In [47]:
names=['a', 'b', 'c', 'd', 'e']

In [48]:
names

['a', 'b', 'c', 'd', 'e']

In [49]:
names.reverse()

In [50]:
names

['e', 'd', 'c', 'b', 'a']

In [51]:
names[::-1]

['a', 'b', 'c', 'd', 'e']

In [52]:
names

['e', 'd', 'c', 'b', 'a']

In [53]:
#删除

In [54]:
names.pop(2)

'c'

In [55]:
names

['e', 'd', 'b', 'a']

#字符串

In [58]:
"8" * 10

'8888888888'

In [59]:
'*' * 11

'***********'

In [63]:
# 直接+
name = 'ys'
city = 'beijing'
info = name + ' ' + city
info

'ys beijing'

In [64]:
# %, c style
'name: %s, city: %s' %(name, city)

'name: ys, place: beijing'

In [68]:
# {}format
'name: {}, city: {}' .format(name, city)

'name: ys, city: beijing'

In [71]:
'name: {name}, city: {city}' .format(name = name, city = city)

'name: ys, city: beijing'

In [73]:
# f-string
f'{name} : {city}'

'ys : beijing'

#删除字符串

In [74]:
name

'ys'

In [75]:
name = ''

In [76]:
name

''

#字符串的各种修改

In [77]:
name = 'sure'

In [78]:
name.upper() # 大写

'SURE'

In [79]:
name.lower() #小写

'sure'

In [80]:
name.capitalize() #首字母大写

'Sure'

In [81]:
name = 'python is cool'

In [82]:
name.title() #每个单词首字母大写

'Python Is Cool'

In [84]:
name.strip('python')

' is cool'

In [85]:
email= 'ys12347#mail.com'

In [87]:
email.replace('#', '@') # 替换

'ys12347@mail.com'

In [90]:
email.zfill(20)

'0000ys12347#mail.com'

In [91]:
email.ljust(20,'*')

'ys12347#mail.com****'

In [92]:
email.rjust(20,'*')

'****ys12347#mail.com'

In [93]:
email.center(20,'*')

'**ys12347#mail.com**'

In [94]:
# 字符串的查询方法

In [95]:
'y8275918'.count('8')

2

In [96]:
name

'python is cool'

In [97]:
name.isupper() # 查看是否是大写

False

In [98]:
name.islower() #查看是否是小写

True

In [99]:
py = 'python is cool'

In [100]:
py.index('is')

7

In [101]:
py.index('o')

4

In [102]:
py.find('is')

7

In [103]:
py.find('adad')

-1

In [104]:
dir(py)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
name = input ('name:')

name:sure

In [106]:
len(name)

4

In [115]:
# 切片查询
py = 'python2 python3 python4'

In [116]:
py[3]

'h'

In [117]:
py

'python2 python3 python4'

In [119]:
py[-2]

'n'

In [120]:
py[:6]

'python'

In [121]:
py.index('2')

6

In [122]:
py[:py.index('2')]

'python'

In [123]:
somthing = 'asdhf12376512'

In [124]:
somthing[0]

'a'

In [125]:
somthing[1:6:2]

'sh1'

In [126]:
somthing[:4]

'asdh'

In [127]:
somthing[4:]

'f12376512'

In [129]:
somthing[4::4]

'f72'

In [130]:
somthing[::-1]

'21567321fhdsa'

In [131]:
somthing.index('f')

4

In [132]:
somthing[somthing.index('f'):]

'f12376512'

In [133]:
email = 'ys123975h@mail.com'

In [134]:
email.split('@') # 分割

['ys123975h', 'mail.com']

In [135]:
email.index('@')

9

In [136]:
email[:email.index('@')]

'ys123975h'

In [138]:
email[email.find('@') + 1:]

'mail.com'

In [1]:
# 数字和字符串的判断

In [2]:
num = 'ys23'

In [4]:
num.isdigit()

False

In [5]:
name = 'shufa'

In [6]:
name.isalpha()

True

In [7]:
number = '三'

In [10]:
number.isnumeric()

True

In [8]:
number.isdigit()

False

In [9]:
number.isdecimal()

False

In [11]:
num3 = '3'

In [12]:
num3.isdigit()

True

In [13]:
num3.isdecimal()

True

In [15]:
num3.isnumeric()

True

###判断数字范围
isnumeric(能数数的)>isdigit(数字)>isdecimal(十进制)

###打印乘法表

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

In [19]:
for i in range(2, 5):
    print(i)

2
3
4

In [22]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [28]:
for i in range(9, 0, -1):
    print(i, end = ' ')

9 8 7 6 5 4 3 2 1

In [36]:
n = 10
for i in range(5):
    for j in range(1, n):
        print(j, end = ' ')
    print()
    n -= 1 # n -= 1 等价于 n = n - 1

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5

In [44]:
for i in range(5, 0, -1):
    for j in range(1,i):
        print(j, end = ' ')
    print()

1 2 3 4
1 2 3
1 2
1

In [50]:
for i in range(9, 0, -1):
    for j in range(1, 1+i):
        print(f'{j}*{i}={str(i*j).ljust(2)}', end = ' ')
    print()

1*9=9  2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81
1*8=8  2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64
1*7=7  2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49
1*6=6  2*6=12 3*6=18 4*6=24 5*6=30 6*6=36
1*5=5  2*5=10 3*5=15 4*5=20 5*5=25
1*4=4  2*4=8  3*4=12 4*4=16
1*3=3  2*3=6  3*3=9
1*2=2  2*2=4
1*1=1

In [69]:
for i in range(1, 10):
    for j in range(1, i+1):
        print(f'{j}*{i}={i*j:2}', end = ' ')
    print()

1*1= 1
1*2= 2 2*2= 4
1*3= 3 2*3= 6 3*3= 9
1*4= 4 2*4= 8 3*4=12 4*4=16
1*5= 5 2*5=10 3*5=15 4*5=20 5*5=25
1*6= 6 2*6=12 3*6=18 4*6=24 5*6=30 6*6=36
1*7= 7 2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49
1*8= 8 2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64
1*9= 9 2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [70]:
ch_numbers = [' ', '一', '二', '三', '四', '五', '六', '七', '八', '九', '零'] # 逗号，引号，中英文切换
numbers = [' ', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
for i in range(9, 0, -1):
    for j in range(1, i+1):
        result = str(i*j).ljust(2)
        left = ch_numbers[numbers.index(result[0])]
        right = ch_numbers[numbers.index(result[1])]
        print(f'{ch_numbers[j]}*{ch_numbers[i]}={left}{right}', end = ' ')
    print()

一*九=九  二*九=一八 三*九=二七 四*九=三六 五*九=四五 六*九=五四 七*九=六三 八*九=七二 九*九=八一
一*八=八  二*八=一六 三*八=二四 四*八=三二 五*八=四零 六*八=四八 七*八=五六 八*八=六四
一*七=七  二*七=一四 三*七=二一 四*七=二八 五*七=三五 六*七=四二 七*七=四九
一*六=六  二*六=一二 三*六=一八 四*六=二四 五*六=三零 六*六=三六
一*五=五  二*五=一零 三*五=一五 四*五=二零 五*五=二五
一*四=四  二*四=八  三*四=一二 四*四=一六
一*三=三  二*三=六  三*三=九
一*二=二  二*二=四
一*一=一

##token生成器

In [71]:
import random

In [73]:
random.choice?

In [78]:
random.choice('sdsdfkdginva')

's'

In [79]:
str_list = ['a', 'b', 'c', 'd', 'e']

In [81]:
s = ''

In [82]:
s.join(str_list)

'abcde'

In [83]:
for i in range(5):
    s = random.choice('sdagegxis')
    print(s)

x
s
g
a
s

In [84]:
tokens = [] # list()
for i in range(5):
    s = random.choice('asdjfiuechk')
    print(s)
    tokens.append(s)
tokens

s
s
c
f
j

['s', 's', 'c', 'f', 'j']

In [86]:
tokens = []
for i in range(5):
    s = random.choice('asdfghjklqwer')
    print(s)
    tokens.append(s)
''.join(tokens)

k
q
a
e
h

'kqaeh'

In [87]:
tokens = []
count = 10
for i in range(count):
    s = random.choice('asdfghjkloipuy')
    print(s)
    tokens.append(s)
''.join(tokens)

y
i
h
o
d
s
a
h
j
s

'yihodsahjs'

In [90]:
tokens = []
count = input('num:')
for i in range(int(count)):
    s = random.choice('asdfghjklwqiuy')
    tokens.append(s)
''.join(tokens)

num:9

'uwawfkhii'

In [91]:
import string

In [92]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [93]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [94]:
string.digits

'0123456789'

In [95]:
import string

str_from = string.ascii_letters + string.digits
tokens = []
count = 10
for i in range(count):
    s = random.choice(str_from)
#     print(s)
    tokens.append(s)
''.join(tokens)

'1Bxia5ECoc'

In [97]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [98]:
[random.choice('sadfgh') for x in range(5)]

['d', 'f', 's', 'd', 'h']

In [99]:
[random.choice(string.ascii_letters + string.digits) for _ in range(5)]

['x', 'A', 'K', '3', 'h']

In [100]:
count = 8
[random.choice(string.ascii_letters + string.digits) for _ in range(count)]

['x', 'l', 'X', 'h', 'e', 'U', '7', 'X']

In [103]:
count = 8
str_from = string.ascii_letters + string.digits
''.join([random.choice(str_from) for _ in range(count)])

'VGgW7Y3L'

#dict 字典

In [1]:
# dict,创建增加 key (键) value(值)
my_dict = {
    'a':1,
    'b':2
}

In [2]:
my_dict

{'a': 1, 'b': 2}

In [4]:
sure = {
    'name':'sure',
    'city':'beijing',
    'code':'python'
}

In [4]:
sure['name']

'sure'

In [5]:
sure['city']='shanghai'

In [6]:
sure

{'name': 'sure', 'city': 'shanghai', 'code': 'python'}

In [13]:
sure.get('shanghai')

In [14]:
sure.get('city')

'shanghai'

In [15]:
sure.get('name', 'beijing')

'sure'

In [16]:
sure['age'] = 18

In [17]:
sure

{'name': 'sure', 'city': 'shanghai', 'code': 'python', 'age': 18}

In [18]:
sure['students'] = ['lilei', 'hmm', 'tony', 'jack']

In [19]:
sure

{'name': 'sure',
 'city': 'shanghai',
 'code': 'python',
 'age': 18,
 'students': ['lilei', 'hmm', 'tony', 'jack']}

In [20]:
book = {
    'name':'python3',
    'price':100
}

In [21]:
sure['book'] = book

In [22]:
sure

{'name': 'sure',
 'city': 'shanghai',
 'code': 'python',
 'age': 18,
 'students': ['lilei', 'hmm', 'tony', 'jack'],
 'book': {'name': 'python3', 'price': 100}}

In [24]:
#删除
del sure['name']

In [25]:
sure

{'city': 'shanghai',
 'code': 'python',
 'age': 18,
 'students': ['lilei', 'hmm', 'tony', 'jack'],
 'book': {'name': 'python3', 'price': 100}}

In [26]:
# 改
sure['age']=20

In [27]:
# dict 查
sure['book']

{'name': 'python3', 'price': 100}

In [28]:
sure['book']['name']

'python3'

In [30]:
sure.keys() # 查看字典的键

dict_keys(['city', 'code', 'age', 'students', 'book'])

In [31]:
type(sure.keys())

dict_keys

In [32]:
[i for i in sure.keys()]

['city', 'code', 'age', 'students', 'book']

In [33]:
sure.items() #查看字典里的项目

dict_items([('city', 'shanghai'), ('code', 'python'), ('age', 20), ('students', ['lilei', 'hmm', 'tony', 'jack']), ('book', {'name': 'python3', 'price': 100})])

In [35]:
for items in sure.items():
    print(items)

('city', 'shanghai')
('code', 'python')
('age', 20)
('students', ['lilei', 'hmm', 'tony', 'jack'])
('book', {'name': 'python3', 'price': 100})

In [37]:
for key, value in sure.items():
    print(f'{key},{value}') # print('{}:{}',format(key, value))

city,shanghai
code,python
age,20
students,['lilei', 'hmm', 'tony', 'jack']
book,{'name': 'python3', 'price': 100}

#tuple元组

In [8]:
cor = 10, 3

In [9]:
type(cor)

tuple

In [38]:
cor = (20, 10)

In [39]:
type(cor)

tuple

In [40]:
cor[0] = 23

TypeError: 'tuple' object does not support item assignment

In [41]:
# 不可变
ip_port = ('192.168.1.1', 8001)

In [20]:
host = {}

In [43]:
host['ip_port'] = ip_port

In [44]:
host

{'ip_port': ('192.168.1.1', 8001)}

In [48]:
host['ip_port'][0]

'192.168.1.1'

In [49]:
# 类似列表， 不需要修改时候使用
ip = ('192.168.1.1')

In [50]:
ip = ('192.168.1.1',)

In [51]:
type(ip)

tuple

In [11]:
# tuple与list互相转换
name = ('asd', 'ysh', 'sao')

In [53]:
type(name)

tuple

In [12]:
list((name))

['asd', 'ysh', 'sao']

In [56]:
type(list((name)))

list

In [14]:
names = ['sasd', 'sdaw', 'wormf']

In [15]:
type(names)

list

In [16]:
tuple(names)

('sasd', 'sdaw', 'wormf')

In [17]:
names

['sasd', 'sdaw', 'wormf']

In [21]:
host[names] = 'admin'

TypeError: unhashable type: 'list'

In [22]:
names_tuple = ('lilei', 'hmm', 'jack')

In [23]:
host[names_tuple] = 'admin'

In [24]:
host

{('lilei', 'hmm', 'jack'): 'admin'}

#set 集合
##不重复的元素

In [25]:
number = {1,2,3,4,5,6,1,3,2,}

In [26]:
type(number)

set

In [27]:
number

{1, 2, 3, 4, 5, 6}

In [28]:
number[0]

TypeError: 'set' object does not support indexing

In [29]:
for i in number:
    print(i)

1
2
3
4
5
6

In [30]:
others = [2,2,3,5,6,7,6]

In [31]:
set(others)

{2, 3, 5, 6, 7}

In [32]:
len(others)

7

#案例 ： 翻译小程序

In [33]:
orig_dict = {'关键词':'key', '字典':'dict', '中文':'Chinese'}

In [34]:
orig_dict

{'关键词': 'key', '字典': 'dict', '中文': 'Chinese'}

In [36]:
query = input('输入查询词:')

输入查询词:中文

In [37]:
query

'中文'

In [38]:
orig_dict['中文']

'Chinese'

In [39]:
k = input('扩充词典:')

扩充词典:书

In [40]:
k

'书'

In [41]:
v = input('v:')

v:book

In [42]:
v

'book'

In [45]:
orig_dict[k] = v

In [46]:
orig_dict

{'关键词': 'key', '字典': 'dict', '中文': 'Chinese', '书': 'book'}

In [62]:
# 实现一个翻译小程序
# 1 可以查询单词
# 2 可以自定义补充单词和解释
# 3 可以删除某个词
print('欢迎来到sure小词典'.center(30,'_'))
orig_dict = {'代码':'code', '关键词':'key', '词典':'dict', '元组':'tuple'}

query = input('请输入要查询的中文:')

# 判断是否已经存在
if(orig_dict.get(query,'')):
    print(f'你查询的中文为:{query},意思是:{orig_dict[query]}')
else:
    add = input('没有查到,是否愿意帮助扩充词典(y/n):')
    if add == 'y':
        print(orig_dict)
        print('谢谢帮助,请添加单词和相关解释，用冒号分割,')
        words = input('示例(书:book)')
        words = words.split(':')
        orig_dict[words[0]] = words[1]
        print(orig_dict)
    else:
        print('再见')

请输入要查询的中文:查询
你查询的中文为:查询,意思是:query

#案例:单位换算器