In [1]:
import numpy as np
import pandas as pd

In [22]:
pf = pd.read_excel('../data/培训班ceshi1.xlsx', header=None, names=['0', '1'])

In [25]:
class_pf = pf['0']

In [26]:
class_pf

0    培训班1
1    培训班2
2    培训班3
3    培训班4
4    培训班5
5    培训班6
6    培训班7
7    培训班8
8    培训班9
Name: 0, dtype: object

In [27]:
info = pf['1']

In [31]:
cl = info[0].split('<br />')

In [37]:
new_cl = [i for i in cl if i.strip()]

In [52]:
new_cl = [i.split('：') for i in new_cl]

In [55]:
new = dict(new_cl)

In [81]:
col = []
for i in range(9):
    new_info = info[i].split('<br />')
    new_cl = [j for j in new_info if j.strip()]
    new_cl = [j.split('：') for j in new_cl]
    new = dict(new_cl)
    l = list(new.keys())
    col.append(l)
new_col = set(col[0])
for i in col[1:]:
    new_col.update(set(i))

In [84]:
new_col = list(new_col)

In [90]:
keys = new_col

In [104]:
keys.append('班级')

In [121]:
len(keys)

21

In [113]:
import csv
def save(keys, data):
    with open('培训班ceshi1.csv', 'w') as f:
        fcsv = csv.writer(f)
        fcsv.writerow(keys)
        for i in data:
            values = [i.get(key,None) for key in keys]
            fcsv.writerow(values)
            print(values)

In [114]:
save(keys, data)

[None, '1984-09-06', '', '张三', 'bat', '女', '11111111111', '本科', '大学1', '', None, '', '11111111转1111', None, None, None, '111111111111111111', None, '', None, '培训班1']
[None, None, '香港手机 前面加拨 852', '李四', None, '男', '', None, None, 'lisi@live.hk', None, None, '11111111', None, 'lisi', None, None, None, '', None, '培训班2']
[None, None, '一起购买', '王五', None, '男', None, None, None, 'wangwu@sohu.com', None, None, '13022221111', None, None, 'wangwu1', None, None, '', None, '培训班3']
[None, None, '无', '赵六', None, None, None, None, None, 'zhaoliu@126.com', None, None, '15011112222', None, None, 'zhaoliu', None, None, '上海市11楼 200000', None, '培训班4']
['1', None, 'beizhu1', '钱七', None, None, None, None, None, None, '13111112222', None, None, None, None, 'qianqi', None, '浙江 ', None, 'qianqi@vip.126.com', '培训班5']
[None, None, '报名专题班', '孙八', None, '男', '', None, None, 'sunba123@126.com', None, None, '13611112222', None, 'sunba123', None, None, None, '', None, '培训班6']
['1', None, '无  ', '王九', None, None, None, None, None, 'wangjiu@qq.com', None, None, '13611117777', None, None, 'wangjiu123', None, None, '', None, '培训班7']
['2', None, '报6个班', '刘十', None, None, None, None, None, 'liushi@yahoo.com.cn', None, None, '15111112222', None, None, 'liushi-163', None, None, '', None, '培训班8']
[None, None, '', '梁十一', None, '女', '13955556666', None, None, 'liangshiyi@yahoo.com.cn', None, None, '021—11114567', 'liangshiyi', None, None, None, None, '上海市202室', None, '培训班9']

In [111]:
data = []
for i in range(9):
    new_info = info[i].split('<br />')
    new_cl = [j for j in new_info if j.strip()]
    new_cl = [j.split('：') for j in new_cl]
    new = dict(new_cl)
    new['班级'] = class_pf[i]
    data.append(new)

In [115]:
data1 = pd.read_csv('培训班ceshi1.csv')

In [116]:
data1

,从哪里得知此课程信息,出生年月,备注说明,姓名,工作单位,性别,手机,最后学历,毕业学校,电子邮箱,...,职务或职称,联系电话,论坛ID,论坛id,论坛用户名,身份证号,通讯地址,通讯地址和邮编,邮箱,班级
0,NaN,1984-09-06,NaN,张三,bat,女,1.111111e+10,本科,大学1,NaN,...,NaN,11111111转1111,NaN,NaN,NaN,1.111111e+17,NaN,NaN,NaN,培训班1
1,NaN,NaN,香港手机 前面加拨 852,李四,NaN,男,NaN,NaN,NaN,lisi@live.hk,...,NaN,11111111,NaN,lisi,NaN,NaN,NaN,NaN,NaN,培训班2
2,NaN,NaN,一起购买,王五,NaN,男,NaN,NaN,NaN,wangwu@sohu.com,...,NaN,13022221111,NaN,NaN,wangwu1,NaN,NaN,NaN,NaN,培训班3
3,NaN,NaN,无,赵六,NaN,NaN,NaN,NaN,NaN,zhaoliu@126.com,...,NaN,15011112222,NaN,NaN,zhaoliu,NaN,NaN,上海市11楼 200000,NaN,培训班4
4,1.0,NaN,beizhu1,钱七,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,qianqi,NaN,浙江,NaN,qianqi@vip.126.com,培训班5
5,NaN,NaN,报名专题班,孙八,NaN,男,NaN,NaN,NaN,sunba123@126.com,...,NaN,13611112222,NaN,sunba123,NaN,NaN,NaN,NaN,NaN,培训班6
6,1.0,NaN,无,王九,NaN,NaN,NaN,NaN,NaN,wangjiu@qq.com,...,NaN,13611117777,NaN,NaN,wangjiu123,NaN,NaN,NaN,NaN,培训班7
7,2.0,NaN,报6个班,刘十,NaN,NaN,NaN,NaN,NaN,liushi@yahoo.com.cn,...,NaN,15111112222,NaN,NaN,liushi-163,NaN,NaN,NaN,NaN,培训班8
8,NaN,NaN,NaN,梁十一,NaN,女,1.395556e+10,NaN,NaN,liangshiyi@yahoo.com.cn,...,NaN,021—11114567,liangshiyi,NaN,NaN,NaN,NaN,上海市202室,NaN,培训班9